@charset "UTF-8";
.mod_coupon p {
	margin: 0px 0px 3px;
}
.mod_coupon .info .discount:before,.mod_coupon_m .info .discount:before,.mod_coupon_s .info .discount:before,.mod_coupon_bor .info .discount:before {
	font-family:arial
}
.mod_coupon .info .text,.mod_coupon_m .info .text,.mod_coupon_s .info .text,.mod_coupon_bor .info .text,.mod_coupon .info .discount,.mod_coupon_m .info .discount,.mod_coupon_s .info .discount,.mod_coupon_bor .info .discount,.mod_coupon_m .limit p,.mod_coupon_s .limit,.mod_coupon_bor .limit {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.mod_coupon_mlist li {
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
a.mod_coupon .info:after {
	content:'\20';
	display:block
}
.mod_coupon_mlist:after,.mod_coupon_slist:after {
	clear:both;
	content:'\20';
	display:block
}
a.mod_coupon .info:after {
	position:absolute;
	top:50%;
	width:12px;
	height:12px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	background:none
}
a.mod_coupon .info:after {
	margin-top:-6px;
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg)
}
.mod_coupon .info .discount:before,.mod_coupon_m .info .discount:before,.mod_coupon_s .info .discount:before,.mod_coupon_bor .info .discount:before {
	content:"\A5";
	display:inline-block;
	margin:0 2px;
	font-weight:normal;
	font-size:15px
}
.mod_coupon .discount,.mod_coupon .text,.mod_coupon .info .main,.mod_coupon_m .info .main,.mod_coupon_s .info .main,.mod_coupon_bor .info .main {
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%)
}
.mod_coupon .dot_hr i:before,.mod_coupon_m .dot_hr i:before,.mod_coupon_s .dot_hr i:before,.mod_coupon_bor .dot_hr i:before,.mod_coupon .dot_hr i:after,.mod_coupon_m .dot_hr i:after,.mod_coupon_s .dot_hr i:after,.mod_coupon_bor .dot_hr i:after {
	-webkit-border-radius:4px;
	border-radius:4px;
	content:"";
	position:absolute;
	top:50%;
	margin-top:-3px;
	width:6px;
	height:6px;
	background:#fff
}
.got.mod_coupon:after,.got.mod_coupon_m:after,.got.mod_coupon_s:after,.got.mod_coupon_bor:after,.used.mod_coupon:after,.used.mod_coupon_m:after,.used.mod_coupon_s:after,.used.mod_coupon_bor:after,.end.mod_coupon:after,.end.mod_coupon_m:after,.end.mod_coupon_s:after,.end.mod_coupon_bor:after,.expired.mod_coupon:after,.expired.mod_coupon_m:after,.expired.mod_coupon_s:after,.expired.mod_coupon_bor:after,.ready.mod_coupon:after,.ready.mod_coupon_m:after,.ready.mod_coupon_s:after,.ready.mod_coupon_bor:after,.over.mod_coupon:after,.over.mod_coupon_m:after,.over.mod_coupon_s:after,.over.mod_coupon_bor:after {
	position:absolute;
	top:4px;
	right:-6px;
	transform:rotate(26.5deg);
	-webkit-transform:rotate(26.5deg);
	width:49px;
	height:25px;
	line-height:25px;
	color:rgba(102,102,102,0.7);
	font-size:10px;
	font-weight:bold;
	text-align:center;
	/*background:transparent url(/fd/base/img/base/icon_mark_bg.png) no-repeat;*/
	background-size:49px auto
}
.mod_coupon .discount,.mod_coupon .text {
	width:60px;
	left:10px;
}
.mod_coupon_m .discount,.mod_coupon_m .text {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%)
}
.mod_coupon,.mod_coupon_m,.mod_coupon_s,.mod_coupon_bor {
	position:relative;
	color:#fff;
	font-size:10px;
	overflow:hidden;
	display:block
}
.mod_coupon .info,.mod_coupon_m .info,.mod_coupon_s .info,.mod_coupon_bor .info {
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	padding:10px 20px 10px 10px
}
.mod_coupon .info .text,.mod_coupon_m .info .text,.mod_coupon_s .info .text,.mod_coupon_bor .info .text {
	font-size:12px;
	text-align:center
}
.mod_coupon .info .discount,.mod_coupon_m .info .discount,.mod_coupon_s .info .discount,.mod_coupon_bor .info .discount {
	font-size:24px;
	text-align:center;
	font-weight:bold
}
.mod_coupon .info .main,.mod_coupon_m .info .main,.mod_coupon_s .info .main,.mod_coupon_bor .info .main {
	left:80px;
	margin-right:10px
}
.mod_coupon .info .des,.mod_coupon_m .info .des,.mod_coupon_s .info .des,.mod_coupon_bor .info .des {
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	margin:2px 0;
	font-size:12px;
	line-height:16px
}
.mod_coupon .dot_hr,.mod_coupon_m .dot_hr,.mod_coupon_s .dot_hr,.mod_coupon_bor .dot_hr {
	position:absolute;
	left:0;
	bottom:-3px;
	border:none;
	width:100%;
	height:6px
}
.mod_coupon .dot_hr i:before,.mod_coupon_m .dot_hr i:before,.mod_coupon_s .dot_hr i:before,.mod_coupon_bor .dot_hr i:before {
	right:-3px
}
.mod_coupon .dot_hr i:after,.mod_coupon_m .dot_hr i:after,.mod_coupon_s .dot_hr i:after,.mod_coupon_bor .dot_hr i:after {
	left:-3px
}
.mod_coupon .dot_hr:before,.mod_coupon_m .dot_hr:before,.mod_coupon_s .dot_hr:before,.mod_coupon_bor .dot_hr:before {
	display:block;
	content:'• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •';
	height:6px;
	line-height:6px;
	color:#fff;
	font-size:8px;
	overflow:hidden;
	letter-spacing:1px;
	margin-left:-2px
}
.mod_coupon .limit,.mod_coupon_m .limit,.mod_coupon_s .limit,.mod_coupon_bor .limit {
	-webkit-border-radius:3px;
	border-radius:3px;
	color:rgba(255,255,255,1);
	font-size: 12px;
}
.mod_coupon .tag,.mod_coupon_m .tag,.mod_coupon_s .tag,.mod_coupon_bor .tag {
	display:block;
	width:62px;
	height:18px;
	line-height:18px;
	background:rgba(0,0,0,0.3);
	color:#fff;
	position:absolute;
	right:-17px;
	top:7px;
	font-size:8px;
	text-align:center;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-transform-origin:center;
	transform-origin:center
}
.bg_1.mod_coupon:before,.bg_1.mod_coupon_m:before,.bg_1.mod_coupon_s:before,.bg_1.mod_coupon_bor:before {
	content:"";/*jingquan*/
	position:absolute;
	top:8px;
	left:8px;
	color:#333;
	font-size:10px;
	z-index:1
}
.bg_1.mod_coupon .info,.bg_1.mod_coupon_m .info,.bg_1.mod_coupon_s .info,.bg_1.mod_coupon_bor .info {
	background-color:#ff7d00
}
.bg_1.mod_coupon .limit,.bg_1.mod_coupon_m .limit,.bg_1.mod_coupon_s .limit,.bg_1.mod_coupon_bor .limit {
	background-color:#cb6200
}
.bg_2.mod_coupon:before,.bg_2.mod_coupon_m:before,.bg_2.mod_coupon_s:before,.bg_2.mod_coupon_bor:before {
	content:"";/*dongquan*/
	position:absolute;
	top:8px;
	left:8px;
	color:#333;
	font-size:10px;
	z-index:1
}
.bg_2.mod_coupon .info,.bg_2.mod_coupon_m .info,.bg_2.mod_coupon_s .info,.bg_2.mod_coupon_bor .info {
	background-color:#e4393c
}
.bg_2.mod_coupon .limit,.bg_2.mod_coupon_m .limit,.bg_2.mod_coupon_s .limit,.bg_2.mod_coupon_bor .limit {
	background-color:#b62e30
}
.bg_3.mod_coupon:before,.bg_3.mod_coupon_m:before,.bg_3.mod_coupon_s:before,.bg_3.mod_coupon_bor:before {
	content:"运费券";
	position:absolute;
	top:8px;
	left:8px;
	color:#333;
	font-size:10px;
	z-index:1
}
.bg_3.mod_coupon .info,.bg_3.mod_coupon_m .info,.bg_3.mod_coupon_s .info,.bg_3.mod_coupon_bor .info {
	background-color:#3884ff
}
.bg_3.mod_coupon .limit,.bg_3.mod_coupon_m .limit,.bg_3.mod_coupon_s .limit,.bg_3.mod_coupon_bor .limit {
	background-color:#2d6acc
}
.bg_4.mod_coupon:before,.bg_4.mod_coupon_m:before,.bg_4.mod_coupon_s:before,.bg_4.mod_coupon_bor:before {
	content:"";
	position:absolute;
	top:8px;
	left:8px;
	color:#333;
	font-size:10px;
	z-index:1
}
.bg_4.mod_coupon .info,.bg_4.mod_coupon_m .info,.bg_4.mod_coupon_s .info,.bg_4.mod_coupon_bor .info {
	background-color:#FFFFFF;
	color: #6D6969;
}
.bg_4.mod_coupon .limit,.bg_4.mod_coupon_m .limit,.bg_4.mod_coupon_s .limit,.bg_4.mod_coupon_bor .limit {
	background-color:#A0D2A2
}
.got.mod_coupon:after,.got.mod_coupon_m:after,.got.mod_coupon_s:after,.got.mod_coupon_bor:after {
	content:"已领取"
}
.used.mod_coupon:after,.used.mod_coupon_m:after,.used.mod_coupon_s:after,.used.mod_coupon_bor:after {
	content:"已使用"
}
.end.mod_coupon:after,.end.mod_coupon_m:after,.end.mod_coupon_s:after,.end.mod_coupon_bor:after {
	content:"已抢光"
}
.expired.mod_coupon:after,.expired.mod_coupon_m:after,.expired.mod_coupon_s:after,.expired.mod_coupon_bor:after {
	content:"已过期"
}
.ready.mod_coupon:after,.ready.mod_coupon_m:after,.ready.mod_coupon_s:after,.ready.mod_coupon_bor:after {
	content:"未开始"
}
.over.mod_coupon:after,.over.mod_coupon_m:after,.over.mod_coupon_s:after,.over.mod_coupon_bor:after {
	content:"已领完"
}
.got.mod_coupon .info,.got.mod_coupon_m .info,.got.mod_coupon_s .info,.got.mod_coupon_bor .info,.used.mod_coupon .info,.used.mod_coupon_m .info,.used.mod_coupon_s .info,.used.mod_coupon_bor .info,.end.mod_coupon .info,.end.mod_coupon_m .info,.end.mod_coupon_s .info,.end.mod_coupon_bor .info,.expired.mod_coupon .info,.expired.mod_coupon_m .info,.expired.mod_coupon_s .info,.expired.mod_coupon_bor .info,.ready.mod_coupon .info,.ready.mod_coupon_m .info,.ready.mod_coupon_s .info,.ready.mod_coupon_bor .info,.over.mod_coupon .info,.over.mod_coupon_m .info,.over.mod_coupon_s .info,.over.mod_coupon_bor .info {
	background-color:#ccc
}
.got.mod_coupon .limit,.got.mod_coupon_m .limit,.got.mod_coupon_s .limit,.got.mod_coupon_bor .limit,.used.mod_coupon .limit,.used.mod_coupon_m .limit,.used.mod_coupon_s .limit,.used.mod_coupon_bor .limit,.end.mod_coupon .limit,.end.mod_coupon_m .limit,.end.mod_coupon_s .limit,.end.mod_coupon_bor .limit,.expired.mod_coupon .limit,.expired.mod_coupon_m .limit,.expired.mod_coupon_s .limit,.expired.mod_coupon_bor .limit,.ready.mod_coupon .limit,.ready.mod_coupon_m .limit,.ready.mod_coupon_s .limit,.ready.mod_coupon_bor .limit,.over.mod_coupon .limit,.over.mod_coupon_m .limit,.over.mod_coupon_s .limit,.over.mod_coupon_bor .limit {
	background-color:#999
}
a.mod_coupon .info:after {
	content:'';
	display:inline-block;
	position:absolute;
	margin-top:-2.5px;
	right:15px;
	width:5px;
	height:5px;
	border-color:#fff;
	border-width:2px;
	z-index:1
}
.mod_coupon {
	/*margin:15px 10px;*/
	margin: 5px 5px;
}
.mod_coupon .info {
	height:70px;
}
.mod_coupon .limit {
	padding:5px 10px
}
.mod_coupon_m {
	margin:15px 10px;
	width:145px
}
.mod_coupon_m .info {
	height:25px
}
.mod_coupon_m .limit {
	padding:3px 10px;
	text-align:center
}
.mod_coupon_m .limit p {
	line-height:1.3
}
.mod_coupon_s,.mod_coupon_bor {
	margin:10px 5px;
	width:70px
}
.mod_coupon_s:before,.mod_coupon_bor:before {
	display:none
}
.mod_coupon_s .info,.mod_coupon_bor .info {
	height:15px;
	line-height:15px;
	padding:5px 10px
}
.mod_coupon_s .info .discount,.mod_coupon_bor .info .discount {
	font-size:12px;
	text-align:center
}
.mod_coupon_s .info .discount:before,.mod_coupon_bor .info .discount:before {
	font-size:12px
}
.mod_coupon_s .limit,.mod_coupon_bor .limit {
	text-align:center;
	height:16px;
	line-height:16px;
	font-size:9px
}
.mod_coupon_bor {
	color:#e4393c;
	background:#fff
}
.mod_coupon_bor .info,.mod_coupon_bor .limit {
	border:1px solid #e4393c
}
.mod_coupon_bor .info {
	border-bottom:none;
	padding-top:4px
}
.mod_coupon_bor .limit {
	border-top:none;
	color:#ec8788;
	height:15px;
	line-height:15px
}
.mod_coupon_bor .dot_hr:before {
	color:#e4393c
}
.mod_coupon_bor .dot_hr i:before,.mod_coupon_bor .dot_hr i:after {
	border:1px solid #e4393c;
	background:#fff;
	width:4px;
	height:4px
}
.mod_coupon_bor .dot_hr i:after {
	clip:rect(auto,auto,auto,3px);
	left:-4px
}
.mod_coupon_bor .dot_hr i:before {
	clip:rect(auto,3px,auto,auto);
	right:-4px
}
.got.mod_coupon_s:after,.got.mod_coupon_bor:after,.user.mod_coupon_s:after,.user.mod_coupon_bor:after,.end.mod_coupon_s:after,.end.mod_coupon_bor:after,.expired.mod_coupon_s:after,.expired.mod_coupon_bor:after,.ready.mod_coupon_s:after,.ready.mod_coupon_bor:after,.over.mod_coupon_s:after,.over.mod_coupon_bor:after {
	top:-1px;
	right:-12px;
	-webkit-transform:rotate(26.5deg) scale(0.8,0.8);
	transform:rotate(26.5deg) scale(0.8,0.8)
}
.got.mod_coupon_bor,.user.mod_coupon_bor,.end.mod_coupon_bor,.expired.mod_coupon_bor,.ready.mod_coupon_bor,.over.mod_coupon_bor {
	color:#ccc
}
.got.mod_coupon_bor .info,.got.mod_coupon_bor .limit,.user.mod_coupon_bor .info,.user.mod_coupon_bor .limit,.end.mod_coupon_bor .info,.end.mod_coupon_bor .limit,.expired.mod_coupon_bor .info,.expired.mod_coupon_bor .limit,.ready.mod_coupon_bor .info,.ready.mod_coupon_bor .limit,.over.mod_coupon_bor .info,.over.mod_coupon_bor .limit {
	background:#fff;
	border-color:#ccc
}
.got.mod_coupon_bor .limit,.user.mod_coupon_bor .limit,.end.mod_coupon_bor .limit,.expired.mod_coupon_bor .limit,.ready.mod_coupon_bor .limit,.over.mod_coupon_bor .limit {
	color:#dcdcdc
}
.got.mod_coupon_bor .dot_hr:before,.user.mod_coupon_bor .dot_hr:before,.end.mod_coupon_bor .dot_hr:before,.expired.mod_coupon_bor .dot_hr:before,.ready.mod_coupon_bor .dot_hr:before,.over.mod_coupon_bor .dot_hr:before {
	color:#ccc
}
.got.mod_coupon_bor .dot_hr i:before,.got.mod_coupon_bor .dot_hr i:after,.user.mod_coupon_bor .dot_hr i:before,.user.mod_coupon_bor .dot_hr i:after,.end.mod_coupon_bor .dot_hr i:before,.end.mod_coupon_bor .dot_hr i:after,.expired.mod_coupon_bor .dot_hr i:before,.expired.mod_coupon_bor .dot_hr i:after,.ready.mod_coupon_bor .dot_hr i:before,.ready.mod_coupon_bor .dot_hr i:after,.over.mod_coupon_bor .dot_hr i:before,.over.mod_coupon_bor .dot_hr i:after {
	border-color:#ccc
}
.mod_coupon_mlist {
	margin:7.5px 5px
}
.mod_coupon_mlist li {
	float:left;
	width:50%;
	padding:0 5px
}
.mod_coupon_mlist .mod_coupon_m {
	width:100%;
	margin:7.5px 0
}
.mod_coupon_mlist_3 .mod_coupon_m:before {
	display:none
}
.mod_coupon_mlist_3 li {
	width:33.33%
}
.mod_coupon_mlist_4 .mod_coupon_m:before {
	display:none
}
.mod_coupon_mlist_4 li {
	width:25%
}
.mod_coupon_slist {
	margin:2.5px 5px
}
.mod_coupon_slist li {
	float:left;
	padding:2.5px 0
}
.mod_coupon_slist .mod_coupon_s {
	float:left;
	margin:0 5px
}
@charset "UTF-8";
.mod_alert p em {
	font-family:arial
}
.coupon_nav {
	/*display:box;
	display:-ms-box;*/
	display:-webkit-box;
	display:flex;
	display:-ms-flexbox;
	display:-webkit-flex
}
.coupon_nav a {
	display:block;
	flex:1;
	-ms-flex:1;
	-webkit-flex:1;
	box-flex:1;
	-ms-box-flex:1;
	-webkit-box-flex:1
}
.coupon_form .input input {
	border:none;
	background:none;
	-webkit-appearance:none;
	-webkit-border-radius:0
}
.lnk_coupon_center:after,.coupon_link:before,.coupon_nav a:before {
	content:'\20';
	display:block
}
.lnk_coupon_center:after,.coupon_link:before {
	position:absolute;
	top:50%;
	width:12px;
	height:12px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	background:none
}
.lnk_coupon_center:after,.coupon_link:before {
	margin-top:-6px;
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg)
}
.coupon_board:before,.coupon_detail:before,.coupon_action:before {
	content:'';
	height:0px;
	display:block;
	border-bottom:1px solid #ddd;
	position:absolute;
	left:0;
	right:0;
	top:0
}
.coupon_board:after,.coupon_detail:after,.coupon_action:after,.coupon_detail .coupon_detail_tit:after,.coupon_area h3:after,.coupon_link:after {
	content:'';
	height:0px;
	display:block;
	border-bottom:1px solid #ddd;
	position:absolute;
	left:0;
	right:0;
	bottom:0
}
.coupon_form .input:after,.coupon_form .input_group .code:after {
	content:'';
	display:block;
	border:1px solid #ddd;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none
}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.coupon_board:after,.coupon_detail:after,.coupon_action:after,.coupon_detail .coupon_detail_tit:after,.coupon_area h3:after,.coupon_link:after {
		-webkit-transform:scaleY(0.5);
		-webkit-transform-origin:50% 100%
	}
	.coupon_board:before,.coupon_detail:before,.coupon_action:before {
		-webkit-transform:scaleY(0.5);
		-webkit-transform-origin:50% 0%
	}
	.coupon_form .input:after,.coupon_form .input_group .code:after {
		-webkit-transform:scale(0.5);
		-webkit-transform-origin:0% 0%;
		bottom:-100%;
		right:-100%
	}
}body {
	 background:#efefef;
	 font-size:12px;
	 color:#333
 }
.wx_wrap {
	background:#fff;
	border-bottom:1px solid #ddd;
	overflow:hidden
}
.coupon_none {
	font-size:16px;
	color:#666;
	text-align:center;
	padding-top:20%
}
.coupon_nav {
	overflow:hidden;
	width:100%;
	background:#fff
}
.coupon_nav a {
	position:relative;
	display:block;
	height:43px;
	line-height:45px;
	text-align:center;
	color:#666;
	border-bottom:1px solid #ddd;
	padding-bottom:2px;
	font-size:16px
}
.coupon_nav a em {
	margin-left:5px
}
.coupon_nav a.cur {
	padding-bottom:0;
	border-bottom:3px solid #e4393c;
	color:#e4393c
}
.coupon_nav a:before {
	width:1px;
	height:20px;
	position:absolute;
	left:-1px;
	top:50%;
	margin-top:-10px;
	background:#ddd
}
.lnk_coupon_center:after {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:-3px 0 0 5px;
	top:0
}
.coupon_board,.coupon_detail,.coupon_action {
	position:relative;
	background:#fff
}
.coupon_board {
	padding:15px 10px;
	margin-bottom:15px
}
.coupon_board .mod_coupon {
	margin:0 0 15px 0
}
.coupon_id {
	color:#999;
	font-size:10px;
	text-align:left
}
.coupon_detail {
	padding:10px;
	margin-bottom:15px
}
.coupon_detail .coupon_detail_tit {
	position:relative;
	color:#333;
	font-size:12px;
	height:30px;
	margin-bottom:10px
}
.coupon_detail .coupon_more li {
	position:relative;
	line-height:20px;
	font-size:10px;
	color:#999;
	padding-left:15px
}
.coupon_detail .coupon_more li:before {
	content:'•';
	position:absolute;
	left:0;
	font-size:20px
}
.lnk_checkmore {
	margin:0 5px;
	color:#3985ff
}
.coupon_action {
	padding:15px 10px
}
.coupon_action .mod_btns {
	margin:0 -5px 15px -5px
}
.coupon_action .mod_btns:last-child {
	margin:0
}
.mod_btn_tips {
	font-size:10px;
	color:#999;
	text-align:left;
	margin:-10px 0 15px;
	text-align:center
}
.coupon_area {
	position:fixed;
	left:50%;
	top:50%;
	width:240px;
	height:244px;
	margin:-120px 0 0 -120px;
	background:rgba(0,0,0,0.75);
	color:#fff;
	text-align:center;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:none
}
.coupon_area.show {
	display:block
}
.coupon_area h3 {
	height:44px;
	line-height:44px;
	font-size:14px;
	font-weight:normal;
	position:relative
}
.coupon_area h3:after {
	border-color:rgba(255,255,255,0.2)
}
.coupon_area h3 span {
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:44px;
	height:44px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAMAAAAocOYLAAAAP1BMVEX///8AAAD////////////////////////////////////////////////////////////////////////////NY5A9AAAAFXRSTlPMALoiBS1roZeOhzfDYqlPTcRhLlI4DZjOAAAAtklEQVQoz4WT2xLCIAxElzahLdC7//+tog1CrE72iclZBnKDqyJeD39sTE2s8hgSLqUQb5wHtBpYc49v+YbThLsm+vCKlaFwj9/yF2f8E7+5/HzsUNSNksWLR8HUdwX3JIaYeShBJ4Z6QnCghMagMRKBgdagMDLdoAyLwlgxQxmcwpmq4iyZL6pE1n3rfev/Vv5G/az6G/2z+m/Mjz1/9vza82/vj+zfLnBX+1dF52P283pSE3sCokwFmtNmaQ4AAAAASUVORK5CYII=) no-repeat center;
	background-size:15px 15px
}
.coupon_area .content {
	position:relative;
	height:200px
}
.coupon_area ul {
	position:absolute;
	top:0;
	height:100%;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch
}
.coupon_area .list_1 {
	left:0;
	width:100px
}
.coupon_area .list_1 li {
	height:40px;
	line-height:40px;
	color:#999
}
.coupon_area .list_1 li.cur {
	color:#fff;
	background:rgba(0,0,0,0.4)
}
.coupon_area .list_2 {
	right:0;
	width:140px;
	background:rgba(0,0,0,0.4);
	-webkit-border-radius:0 0 3px 0;
	border-radius:0 0 3px 0
}
.coupon_area .list_2 li {
	height:30px;
	line-height:30px
}
.coupon_link {
	display:block;
	height:45px;
	line-height:45px;
	padding:0 10px;
	font-size:12px;
	color:#333;
	background:#f3f3f3;
	position:relative
}
.coupon_link:before {
	content:'\20';
	display:block;
	right:20px
}
.coupon_link:after {
	border-color:#ccc
}
.coupon_form {
	padding:15px 10px
}
.coupon_form p {
	font-size:10px;
	color:#999;
	margin:15px 0
}
.coupon_form .input {
	position:relative;
	height:40px;
	margin-bottom:15px;
	padding:0 10px 0 60px;
	background:#fff
}
.coupon_form .input:after {
	border-color:#ddd
}
.coupon_form .input label {
	display:block;
	position:absolute;
	left:10px;
	top:0;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#666
}
.coupon_form .input input {
	display:block;
	width:100%;
	height:100%
}
.coupon_form .input.input_error:after {
	border-color:#e4393c
}
.coupon_form .input.input_error input {
	color:#e4393c
}
.coupon_form .input span {
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	right:0;
	top:0;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAJFBMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmbAN1C+AAAADHRSTlMAgHUWSmNaLCYbQEGIZbunAAAAr0lEQVQoz2OgN+BwVRQKaUAV41IUBAKhBchi7EAxsGgBkqCjIBSIIMTYBOEgAVkhhlJ2QSQAM5UJWVABKrhQUFBsEkhAM1FQUBoqCHSPJDOQEDKYCCSgnhEE8Y0EBZVBMoIQb7EAWSABkAQQOIAFWQUhSiEKBQOglkOUAhUirGcUhCiFKBQUwCWIqR2XRZhOwu14TG9iBgjuoMMMZMzowB1xmFGMmRgIJBtEAqMzAADxKShBw/t8QgAAAABJRU5ErkJggg==) no-repeat center;
	background-size:20px 20px
}
.coupon_form .input_group {
	position:relative;
	padding-right:123px
}
.coupon_form .input_group .input {
	z-index:1
}
.coupon_form .input_group .code {
	position:absolute;
	right:0;
	top:0;
	width:125px;
	height:40px
}
.coupon_form .input_group .code:after {
	border-color:#ddd
}
.coupon_form .input_group .code img {
	display:block;
	width:100%;
	height:100%
}
.coupon_form .mod_btns {
	margin:15px -5px
}
