<div class="panel panel-default" xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
        <!--<span>-->
            <!--<input type="text" id=""/>-->
        <!--</span>-->
        <!--<span>-->
          <!--<button type="button" class="btn btn-info btn-sm" id="colorQuerybtn" data-loading-text="正在查询" onclick="">-->
              <!--<span class="glyphicon glyphicon-search"></span> 查询-->
          <!--</button>-->
        <!--</span>-->
    </div>


  <div style="margin-top: 5px;" id="compListTables" th:include="flow_cfg/comp/searchTable"></div>
</div>