<div class="panel panel-default" xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="colorMaintainTab">
            <li class="active"><a href="#colorMaintainSearchPanel" data-toggle="tab" style="">漆色列表</a></li>
            <li><a href="#colorMaintainPanel" data-toggle="tab">漆色维护</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="colorMaintainSearchPanel" th:include="color/searchPanel"></div>
            <div class="tab-pane fade" id="colorMaintainPanel" th:include="color/maintainPanel"></div>
        </div>
    </div>
</div>