<table id="colorListTable" class="table table-striped table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr class="info">
        <th>色号</th>
        <th>名称</th>
        <th>配方</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody th:if="${data ne null and not #lists.isEmpty(data.dataList)}">
        <tr th:each="color : ${data.dataList}">
            <td th:text="${color.code}"></td>
            <td th:text="${color.colorName}"></td>
            <td th:text="${color.mixFormula}"></td>
            <td>
                <button type="button" class="btn btn-warning btn-sm"  data-loading-text="loading now..." th:onclick="'javascript:colorCtl.loadMaintainPanel(\''+${color.id}+'\',this)'">
                    <span class="glyphicon glyphicon-edit"/>&nbsp;Modify
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger btn-sm"  data-loading-text="正在加载" onclick="">
                    <span class="glyphicon glyphicon-remove"/>&nbsp;Disable
                </button>
            </td>
        </tr>
    </tbody>
</table>
<script  xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    /*<![CDATA[*/
    $('#colorListTable').on('click', 'tbody tr', function(event) {
        $(this).addClass('highlight').siblings().removeClass('highlight');
    });
    /*]]>*/
</script>
<!-- pager start -->
<div xmlns:th="http://www.thymeleaf.org"
     th:if="${error eq null and data ne null and  not #lists.isEmpty(data.dataList) and data.totalPage gt 0}"
     th:include="common/paging (pageFormName='pageForm')"></div>
<form xmlns:th="http://www.thymeleaf.org"
      th:if="${data ne null and not #lists.isEmpty(data.dataList)}"
      th:action="''+${@urlProp.getBaseUrl()}+'color/queryColors'" class="active" method="post" id="pageForm">
    <input type="hidden" name="curPage" th:value="${data.curPage}" id="curPage"/>
    <input type="hidden" name="pageSize" th:value="${data.pageSize}" id="pageSize"/>
    <input th:if="${queryParameter ne null}" th:each="com : ${queryParameter}" type="hidden" th:name="${com.key}" th:value="${com.value}"/>
</form>