<div class="panel panel-default" xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
        <span>
            <label>品牌:</label>
           <select id="colorBranchSelect">
                <option value="1">郡士环保漆N系</option>
            </select>
        </span>
        <span>
            <label>颜色名称:</label>
            <input type="text" id="colorNameTxt" placeholder=""/>
        </span>
        <span>
            <label>色号:</label>
            <input type="text" id="colorNumberTxt" placeholder=""/>
        </span>
        <span>
          <button type="button" class="btn btn-info btn-sm" id="colorQuerybtn" data-loading-text="正在查询" onclick="">
              <span class="glyphicon glyphicon-search"></span> 查询
          </button>
      </span>
    </div>
    <div style="margin-top: 5px;" id="colorListTables" th:include="color/searchTable"></div>
</div>