<nav class="navbar navbar-inverse navbar-fixed-top navbar-cust" role="navigation"  xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="navbar-header" style="margin:5px;" id="nav_top_left">
            <a href="#"><img style="height: 40px; width: 40px;" th:src="@{/img/khaojie.png}"/></a>
            <span style=" margin-left:10px;color: white;font-size: 18px;font-weight:bold;">HKJ MODEL DESIGNER</span>
        </div>
        <div class="navbar-collapse collapse" id="nav_top_right">
            <ul class="nav navbar-nav" style="top: 8px; right: 50px; float: right; position: relative;" id="nav_top_user_ul">
                <li style="margin-right: 20px;">User No：<span id="navbar_empName" style="color: white;">test</span></li>
                <li>Emp No：<span id="navbar_empNo" style="color: white;">test</span></li>
            </ul>
        </div>
    </div>
</nav>