<span class="pageList" style="margin-top:15px;" xmlns:th="http://www.thymeleaf.org">
        Total Records:&nbsp;<span th:text="${data.totalCount}"></span>&nbsp;&nbsp;
        Total Pages:&nbsp;<span th:text="${data.totalPage}"></span>
        Each Page Display Records:&nbsp;
        <select name="pageSize" th:onchange="'javascript:pageToByPageSize(this.value, \''+${pageFormName}+'\')'">
            <option value="10" th:selected="${data.pageSize eq 10}">10</option>
            <option value="20" th:selected="${data.pageSize eq 20}">20</option>
            <option value="30" th:selected="${data.pageSize eq 30}">30</option>
            <option value="50" th:selected="${data.pageSize eq 50}">50</option>
            <option value="100" th:selected="${data.pageSize eq 100}">100</option>
        </select>&nbsp;&nbsp;
        Current Page:&nbsp;<span th:text="${data.curPage}"></span>&nbsp;&nbsp;
        <a class="prevPageBtn" th:if="${data.isPrev}" href="javascript:void(0)" th:onclick="'javascript:pageToByForm(\''+${data.curPage-1}+'\',\''+${pageFormName}+'\')'" >上一页</a>
        <a class="nextPageBtn" th:if="${data.isNext}" href="javascript:void(0)" th:onclick="'javascript:pageToByForm(\''+${data.curPage+1}+'\',\''+${pageFormName}+'\')'" >下一页</a>
        <select th:onchange="'javascript:pageToByForm(this.value,\''+${pageFormName}+'\')'">
            <option th:each="i : ${#numbers.sequence(data.pageIndex.startIndex,data.pageIndex.endIndex,1)}"
                    th:value="${i}"
                    th:selected="${data.curPage eq i}"
                    th:text="${i}">
            </option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;
        GO <input type="text" th:value="${data.curPage}" size="1"
                  name="goToPageNo" th:onblur="'javascript:pageToByForm(this.value,\''+${pageFormName}+'\')'"/>&nbsp;页
</span>