<table id="productListTable" class="table table-striped table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr class="info">
        <th>Product Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody th:if="${data ne null and not #lists.isEmpty(data.dataList)}">
        <tr th:each="prod : ${data.dataList}">
            <td th:text="${prod.name}"></td>
            <td>
                <button type="button" class="btn btn-warning btn-sm"  data-loading-text="loading now..." th:onclick="'javascript:productCtl.loadMaintainPanel(\''+${prod.id}+'\',this)'">
                    <span class="glyphicon glyphicon-edit"/>&nbsp;Modify
                </button>
                &nbsp;
                <button type="button" class="btn btn-success btn-sm"  data-loading-text="loading now..." th:onclick="'javascript:productCtl.loadFlowSettings(\''+${prod.id}+'\',this)'">
                    <span class="glyphicon glyphicon-list"/>&nbsp;Load Flow Settings
                </button>
            </td>
        </tr>
    </tbody>
</table>
<script  xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    /*<![CDATA[*/
    $('#productListTable').on('click', 'tbody tr', function(event) {
        $(this).addClass('highlight').siblings().removeClass('highlight');
    });
    /*]]>*/
</script>