<table id="partFlowListTable" class="table table-striped table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr class="info">
        <th>Part Name</th>
        <th>Part No</th>
        <th>Part Colors</th>
        <th>Part Count</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody th:if="${data ne null and not #lists.isEmpty(data.dataList)}">
        <tr th:each="pt : ${data.dataList}">
            <td th:text="${pt.name}"></td>
            <td th:text="${pt.no}"></td>
            <td th:text="${pt.colors}"></td>
            <td th:text="${pt.partCount}"></td>
            <td>
                <button type="button" class="btn btn-warning btn-sm"  data-loading-text="loading now..." th:onclick="'javascript:partCtl.loadMaintainPanel(\''+${pt.sid}+'\',\''+${pt.prodId}+'\',this)'">
                    <span class="glyphicon glyphicon-edit"/>&nbsp;Modify
                </button>
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>
<script  xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    /*<![CDATA[*/
    $('#partFlowListTable').on('click', 'tbody tr', function(event) {
        $(this).addClass('highlight').siblings().removeClass('highlight');
    });
    /*]]>*/
</script>
<!-- pager start -->
<div xmlns:th="http://www.thymeleaf.org"
     th:if="${error eq null and data ne null and  not #lists.isEmpty(data.dataList) and data.totalPage gt 0}"
     th:include="common/paging (pageFormName='pageForm')"></div>
<form xmlns:th="http://www.thymeleaf.org"
      th:if="${data ne null and not #lists.isEmpty(data.dataList)}"
      th:action="''+${@urlProp.getBaseUrl()}+'part/queryParts'" class="active" method="post" id="pageForm">
    <input type="hidden" name="curPage" th:value="${data.curPage}" id="curPage"/>
    <input type="hidden" name="pageSize" th:value="${data.pageSize}" id="pageSize"/>
    <input th:if="${queryParameter ne null}" th:each="com : ${queryParameter}" type="hidden" th:name="${com.key}" th:value="${com.value}"/>
</form>